<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>

<div class="mx-auto" style="width: 300px">
  <H2>NUESTRA HISTORIA</H2>
</div>

<div class="text-center">
  <iframe width="600" height="350" 
    src="https://www.youtube.com/embed/FnI2RUwN4Y8?autoplay=1" 
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
  </iframe>
</div>

<div class="row mt-3">
  <div class="col col-md-5">
    <div class="card">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem obcaecati deleniti, tempora ex repellendus, fugit nemo ab unde ipsa esse itaque odio expedita consectetur repudiandae est minima libero, quis iste.</p>
      </div>
    </div>
  </div>

  <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
          1970
        </button>
  </div>

  <div class="col col-md-5">
  </div>

</div>

<div class="row mt-3">
  <div class="col col-md-5">
  </div>

  <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
          1971
        </button>
  </div>

  <div class="col col-md-5">
    <div class="card">
      <div class="card-body">
        <img src="img/nuestrahistoria/1.jpg" alt="" srcset="" width="200" style="float: left; margin-right: 5px;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem obcaecati deleniti, tempora ex repellendus, fugit nemo ab unde ipsa esse itaque odio expedita consectetur repudiandae est minima libero, quis iste.
      </div>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col col-md-5">
    <div class="card">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem obcaecati deleniti, tempora ex repellendus, fugit nemo ab unde ipsa esse itaque odio expedita consectetur repudiandae est minima libero, quis iste.</p>
      </div>
    </div>
  </div>

  <div class="col col-md-2 text-center">
        <button class="btn btn-primary">
          1972
        </button>
  </div>

  <div class="col col-md-5">
  </div>

</div>

